@model List<productassignment.Models.productwithcategory>
@{
    ViewBag.Title = "Edit";
}
<title>Edit</title>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <h3 style="color:forestgreen;text-align:center;width:500px">Edit</h3>
        <table width:100% cellpadding="5" cellspacing="5" border="1" style="border: 1px solid black;
            border-collapse: collapse;">
            
                <tr>
                    <td colspan="2" align="center">Product</td>
                <tr>
                    <td align="right">
                        Product Id :
                    </td>
                    <td align="left">
                        @Html.Display("ProductId")
                        @Html.Hidden("ProductId")
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Product Name :
                    </td>
                    <td align="left">
                        @Html.Editor("ProductName", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessage("ProductName", "", new { @class = "text-danger" })
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.Hidden("ProductId")
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Category :
                    </td>
                    <td align="left">
                        @Html.DropDownList("Categories", (IEnumerable<SelectListItem>)ViewBag.Categories, "Select Category")
                        @Html.ValidationMessage("CatId", "", new { @class = "text- danger" })
                    </td>
                </tr>

            </table>
        <div style="text-align:center;width:500px" class="form-actions no-color">
            <input type="submit" value="Update" class="btn btn-primary" />
            |
            @Html.ActionLink("Back", "Products", "Home", new { @class = "btn btn-primary" })
            @*@Html.ActionLink("Back to List", "Products")*@

        </div>
    </div>
}  

